# Pandas

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(filepath_or_buffer="E:\Python\cities_population.csv", header=0, encoding = 'utf8')
df

,Rank,City,Population,Area KM2,Area M2,Density KM2,Density M2,Country,Year
0,1.0,Manila,"1,846,513",43,17,"43,062","111,532",Filipinler *,2020 [1] 2018 [2]
1,2.0,Mandaluyong,"425,758",11,4,"38,495","99,703",Filipinler *,2020 [1] [3]
2,3.0,pateros,"65,227",2,1,"37,061","95,988",Filipinler *,2020 [1] 2013 [3]
3,4.0,Caloocan,"1,661,584",53,21,"31,233","80,893",Filipinler *,2020 [1] [3]
4,5.0,ben fren,"212,646",7,3,"30,001","77,702",İsrail *,2022 [4] [5]
...,...,...,...,...,...,...,...,...,...
73,74.0,Senglea,"2,820",0,0,"14,100","36,519",Malta *,2013
74,75.0,"Rosario, Cavite","110,807",8,3,"14,561","37,712",Filipinler *,2020 [1] 2013 [39]
75,76.0,Mandaue,"364,116",25,10,"14,461","37,453",Filipinler *,2020 [1] 2013 [39]
76,77.0,bacoor,"664,625",46,18,"14,395","37,284",Filipinler *,2020 [1] 2013 [39]
77,78.0,"San Pedro, Laguna","326,001",24,9,"13,555","35,108",Filipinler *,2020 [1] 2013 [39]

## 1,  Sắp xếp và in ra 10 thành phố có dân số lớn nhất & 10 thành phố có dân số nhỏ nhất

In [6]:
df_1 = df[["City","Population"]]
df_1['Population'] = df_1['Population'].apply(lambda x: x.replace(',',''))
df_1["Population"]= df_1["Population"].astype(int)
print(type(df_1["Population"]))

sort_df_1 = df_1.sort_values("Population", ascending= False)
top_10 = sort_df_1[:10]
inverse_top10 = sort_df_1[-10:]
print(top_10)
print(inverse_top10)

<class 'pandas.core.series.Series'>
            City  Population
14        Karaçi    14910352
32        Bombay    12442373
69       Cakarta    10560000
61          Seul     9962393
71        Kahire     9539673
6          Dakka     8906136
16       Kalküta     4496694
46       Bandung     3075478
52  Quezon şehir     2960048
59     Çittagong     2582401
                     City  Population
53               Vanveler       27729
18  Saint-Josse-ten-Noode       27548
21        Napoli, Selanik       27084
49              Les Lilas       23045
15            Saint-Mande       22619
45             Koekelberg       21990
70                nazikçe       18605
12   Le Pré-Saint-Gervais       17950
40           Kotsiubynske       17249
73                Senglea        2820

C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\458794590.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Population'] = df_1['Population'].apply(lambda x: x.replace(',',''))
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\458794590.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1["Population"]= df_1["Population"].astype(int)

## 2, In ra tên các quốc gia có tối thiểu 3 thành phố trong danh sách này

In [7]:
df_2 = df[["Country"]]
df_2

          Country
0    Filipinler *
1    Filipinler *
2    Filipinler *
3    Filipinler *
4        İsrail *
..            ...
73        Malta *
74   Filipinler *
75   Filipinler *
76   Filipinler *
77   Filipinler *

[78 rows x 1 columns]

## 3, In ra Top 5 quốc gia có nhiều thành phố xuất hiện trong bảng này nhất

In [8]:
df_3 = df[["City","Country"]]
df_3['Country']= df_3['Country'].str.replace('*','')
df_3['Country']= df_3['Country'].str.replace(' ','')

sort_country = df_3['Country'].value_counts()
top_5_country = sort_country[:5]

print(top_5_country)

 Filipinler                   18
 Fransa                       17
 AmerikaBirleşikDevletleri     5
 Belçika                       5
 İspanya                       4
Name: Country, dtype: int64

C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\3438320441.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_3['Country']= df_3['Country'].str.replace('*','')
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\3438320441.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['Country']= df_3['Country'].str.replace('*','')
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\3438320441.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['Country']= df_3['Country'].str.replace(' ','')

## 4,  In ra các thành phố có dân số & diện tích đều nằm trong Top 20

In [9]:
df_4 = df[['City','Population','Area KM2']]
df_4['Area KM2'] = df_4['Area KM2'].str.replace('7-May','7')
df_4['Population']= df_4['Population'].str.replace(',','')
df_4['Population']= df_4['Population'].astype(int)
df_4['Area KM2']= df_4['Area KM2'].astype(int)


sort_population = df_4.sort_values(['Population'], ascending=False)
sort_area = df_4.sort_values(['Area KM2'], ascending=False)
top20_population = sort_population[:20]
top20_area = sort_area[:20]
print(sort_population)
print(top20_population,'\n')
print(top20_area)
a= top20_population['Population'].min()
ontop20 = top20_area.loc[top20_area.Population > a]
ontop20

                    City  Population  Area KM2
14                Karaçi    14910352       591
32                Bombay    12442373       603
69               Cakarta    10560000       662
61                  Seul     9962393       605
71                Kahire     9539673       606
..                   ...         ...       ...
45            Koekelberg       21990         1
70               nazikçe       18605         1
12  Le Pré-Saint-Gervais       17950         1
40          Kotsiubynske       17249         1
73               Senglea        2820         0

[78 rows x 3 columns]
                     City  Population  Area KM2
14                 Karaçi    14910352       591
32                 Bombay    12442373       603
69                Cakarta    10560000       662
61                   Seul     9962393       605
71                 Kahire     9539673       606
6                   Dakka     8906136       306
16                Kalküta     4496694       185
46                Bandung     3075478       167
52           Quezon şehir     2960048       166
59              Çittagong     2582401       155
30                  Paris     2187526       105
0                  Manila     1846513        43
23                    Şam     1711000        77
3                Caloocan     1661584        53
68              Barselona     1636732       101
8               Manhattan     1628701        59
5                Katmandu     1442000        49
55  Ciudad Nezahualcóyotl     1110565        63
31                  naber     1072161        52
9          Port-au-Prince      987310        36

                     City  Population  Area KM2
69                Cakarta    10560000       662
71                 Kahire     9539673       606
61                   Seul     9962393       605
32                 Bombay    12442373       603
14                 Karaçi    14910352       591
6                   Dakka     8906136       306
16                Kalküta     4496694       185
46                Bandung     3075478       167
52           Quezon şehir     2960048       166
59              Çittagong     2582401       155
30                  Paris     2187526       105
68              Barselona     1636732       101
23                    Şam     1711000        77
55  Ciudad Nezahualcóyotl     1110565        63
8               Manhattan     1628701        59
3                Caloocan     1661584        53
31                  naber     1072161        52
5                Katmandu     1442000        49
76                 bacoor      664625        46
25                 Asmara      963000        45

C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\3177993207.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4['Area KM2'] = df_4['Area KM2'].str.replace('7-May','7')
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\3177993207.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4['Population']= df_4['Population'].str.replace(',','')
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\3177993207.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4['Population']= df_4['Population'].astype(int)
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\3177993207.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4['Area KM2']= df_4['Area KM2'].astype(int)

                     City  Population  Area KM2
69                Cakarta    10560000       662
71                 Kahire     9539673       606
61                   Seul     9962393       605
32                 Bombay    12442373       603
14                 Karaçi    14910352       591
6                   Dakka     8906136       306
16                Kalküta     4496694       185
46                Bandung     3075478       167
52           Quezon şehir     2960048       166
59              Çittagong     2582401       155
30                  Paris     2187526       105
68              Barselona     1636732       101
23                    Şam     1711000        77
55  Ciudad Nezahualcóyotl     1110565        63
8               Manhattan     1628701        59
3                Caloocan     1661584        53
31                  naber     1072161        52
5                Katmandu     1442000        49

## 5, : Thống kê mật độ dân số theo quốc gia

In [14]:
df_5 = df[['Population','Area KM2', 'Country']]
df_5['Area KM2'] = df_5['Area KM2'].str.replace('7-May','7')
df_5['Population']= df_5['Population'].str.replace(',','')
df_5['Population']= df_5['Population'].astype(int)
df_5['Area KM2']= df_5['Area KM2'].astype(int)
df_5['Country']= df_5['Country'].str.replace('*','')
df_5['Country']= df_5['Country'].str.replace(' ','')


#group_country = df_5.groupby("Country").apply(print)
group_country = df_5.groupby("Country")['Population','Area KM2'].sum()
group_country["Density"] = group_country["Population"]/group_country["Area KM2"]
print(group_country)

                            Population  Area KM2       Density
Country
 AmerikaBirleşikDevletleri     1929562        75  2.572749e+04
 Bangladeş                    11488537       461  2.492090e+04
 Belçika                        330311        19  1.738479e+04
 Endonezya                    14203878       869  1.634508e+04
 Eritre                         963000        45  2.140000e+04
 Filipinler                   12287307       548  2.242209e+04
 Fransa                        2998410       147  2.039735e+04
 GüneyKore                     9962393       605  1.646677e+04
 Hatay                          987310        36  2.742528e+04
 Hindistan                    18011228       840  2.144194e+04
 Japonya                        582065        34  1.711956e+04
 Makao                          643100        30  2.143667e+04
 Maldivler                      133412         6  2.223533e+04
 Malta                            2820         0           inf
 Meksika                       1110565        63  1.762802e+04
 Monako                          36950         2  1.847500e+04
 Mısır                         9539673       606  1.574203e+04
 Nepal                         1442000        49  2.942857e+04
 Pakistan                     14910352       591  2.522902e+04
 SriLanka                       752993        37  2.035116e+04
 Suriye                        1711000        77  2.222078e+04
 Ukrayna                         17249         1  1.724900e+04
 Yunanistan                     200224        10  2.002240e+04
 İspanya                       2051480       122  1.681541e+04
 İsrail                         352040        15  2.346933e+04

C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\2867021387.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Area KM2'] = df_5['Area KM2'].str.replace('7-May','7')
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\2867021387.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Population']= df_5['Population'].str.replace(',','')
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\2867021387.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Population']= df_5['Population'].astype(int)
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\2867021387.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Area KM2']= df_5['Area KM2'].astype(int)
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\2867021387.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_5['Country']= df_5['Country'].str.replace('*','')
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\2867021387.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Country']= df_5['Country'].str.replace('*','')
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\2867021387.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Country']= df_5['Country'].str.replace(' ','')
C:\Users\Billngo2715\AppData\Local\Temp\ipykernel_16372\2867021387.py:11: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  group_country = df_5.groupby("Country")['Population','Area KM2'].sum()

In [9]:
df_5['Population'].iloc[].sum()

TypeError: Cannot index by location index with a non-integer key

## Selection
iloc & loc

In [31]:
population = df.loc[:,"Population"]
population = population.apply(lambda x: x.replace(",",""))
print(population)

0     1846513
1      425758
2       65227
3     1661584
4      212646
       ...
73       2820
74     110807
75     364116
76     664625
77     326001
Name: Population, Length: 78, dtype: object

In [32]:
population.max()

'9962393'

In [28]:
city = df.loc[:,"City"]
print(city)

0                Manila
1           Mandaluyong
2               pateros
3              Caloocan
4              ben fren
            ...
73              Senglea
74      Rosario, Cavite
75              Mandaue
76               bacoor
77    San Pedro, Laguna
Name: City, Length: 78, dtype: object

In [ ]:
danso =

Empty DataFrame
Columns: [Rank, City, Population, Area KM2, Area   M2, Density KM2, Density  M2, Country, Year]
Index: []